<div class="msg">
	<span class="msg-info">
        <span class="deco">--</span>
		<span class="count">{count}</span>
		<span class="sep">|</span>
		<span class="time">{time}</span>
		<span class="sep">|</span>
		<span class="name">{name}</span>
        <span class="deco">--</span>
	</span>
	<br>
	<span class="msg-body">
		<span class="msg">{msg}</span>
	</span>
</div>
